

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#"><img src="app/styles/images/SGH-logo.png" width="90%"></a>
            <div><img src="app/styles/images/humanface.jpg" width="100%" alt="WellKom"></div>
            </div>
 <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                             Home
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Your 2-Day Fruit & Veg Profile
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Day:1
                        </a>
                    </li>
                    <li>
                        <a href="#video">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Day:2
                        </a>
                    </li>
                    <li>
                        <a href="#projects2">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            How did you do?
                        </a>
                    </li>
                    <li>
                        <a href="#thankyou">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Thank you!
                        </a>
                    </li>
                </ul>
            </nav>
        </div>