<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
  <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Day<em>:2</em></h1>
                        </div>
                        <div class="text-content">
                            <div class="section-heading">
                            <p>Date <button  style="background-color: transparent;border:none;" id="newbtn9"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
<div id="newc9" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt9" name="text" cols="100" rows="1" class="form-control"></textarea>
</form>


                      <p>What and how many portions of fruit & vegetables did you eat?</p>
                      
                      <p>Breakfast <button  style="background-color: transparent;border:none;" id="newbtn10"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
<div id="newc10" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt10" name="text" cols="100" rows="5" class="form-control" ></textarea>
</form>


                      <p>Snack <button  style="background-color: transparent;border:none;" id="newbtn11"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
<div id="newc11" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt11" name="text" cols="100" rows="5" class="form-control" ></textarea>
</form>


                      <p>Lunch <button  style="background-color: transparent;border:none;" id="newbtn12"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
<div id="newc12" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt12" name="text" cols="100" rows="5" class="form-control" ></textarea>
</form>


                      <p>Snack <button  style="background-color: transparent;border:none;" id="newbtn13"><i class="fa fa-microphone" aria-hidden="true"></i></button>
</p>
<div id="newc13" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt13" name="text" cols="100" rows="5" class="form-control" ></textarea>
</form>


                      <p>Dinner <button  style="background-color: transparent;border:none;" id="newbtn14"><i class="fa fa-microphone" aria-hidden="true"></i></button>
</p>
<div id="newc14" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt14" name="text" cols="100" rows="5" class="form-control" ></textarea>
</form>

                      <p>Snack <button  style="background-color: transparent;border:none;" id="newbtn15"><i class="fa fa-microphone" aria-hidden="true"></i></button>
</p>
<div id="newc15" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt15" name="text" cols="100" rows="5" class="form-control" ></textarea>
</form>


                      <p>What did you drink? <button  style="background-color: transparent;border:none;" id="newbtn16"><i class="fa fa-microphone" aria-hidden="true"></i></button>
</p>
<div id="newc16" style="display:none">
<table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
</table>
</div>
<form>
<textarea  id="newtxt16" name="text" cols="100" rows="8" class="form-control" ></textarea>
</form>
                    <br>
                    <form>
                    <input type="radio" id="male" name="choise1" value="male">
                    <label for="male">Portions of Fruit +</label>
                    <input type="radio" id="female" name="choise2" value="female">
                    <label for="female">Portions of vegetables =</label>
                    <input type="radio" id="other" name="choise3" value="other">
                    <label for="other">Total</label>
                    </form>
            </section>     
</div>
<script>

var newtxt9,
newtxt10,
newtxt11,
newtxt12,
newtxt13,
newtxt14,
newtxt15,
newtxt16;

    var newbtn9,
newbtn10,
newbtn11,
newbtn12,
newbtn13,
newbtn14,
newbtn15,
newbtn16;

    // subscription key and region for speech services.
    var subscriptionKey, serviceRegion, languageTargetOptions, languageSourceOptions;
    var SpeechSDK;
    var recognizerone;


      newbtn9 = document.getElementById("newbtn9");
newbtn10 = document.getElementById("newbtn10");
newbtn11 = document.getElementById("newbtn11");
newbtn12 = document.getElementById("newbtn12");
newbtn13 = document.getElementById("newbtn13");
newbtn14 = document.getElementById("newbtn14");
newbtn15 = document.getElementById("newbtn15");
newbtn16 = document.getElementById("newbtn16");


      subscriptionKey = document.getElementById("subscriptionKey");
      serviceRegion = document.getElementById("serviceRegion");


      newtxt9 = document.getElementById("newtxt9");
newtxt10 = document.getElementById("newtxt10");
newtxt11 = document.getElementById("newtxt11");
newtxt12 = document.getElementById("newtxt12");
newtxt13 = document.getElementById("newtxt13");
newtxt14 = document.getElementById("newtxt14");
newtxt15 = document.getElementById("newtxt15");
newtxt16 = document.getElementById("newtxt16");


      newbtn9.addEventListener("click", function () {
        newbtn9.disabled = true;
        newbtn9.style.color="red";
        newtxt9.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn9.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn9.disabled = false;
            newbtn9.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt9.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn9.disabled = false;
            newbtn9.style.color="black";
            newtxt9.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn10.addEventListener("click", function () {
        newbtn10.disabled = true;
        newbtn10.style.color="red";
        newtxt10.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn10.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn10.disabled = false;
            newbtn10.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt10.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn10.disabled = false;
            newbtn10.style.color="black";
            newtxt10.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn11.addEventListener("click", function () {
        newbtn11.disabled = true;
        newbtn11.style.color="red";
        newtxt11.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn11.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn11.disabled = false;
            newbtn11.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt11.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn11.disabled = false;
            newbtn11.style.color="black";
            newtxt11.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn12.addEventListener("click", function () {
        newbtn12.disabled = true;
        newbtn12.style.color="red";
        newtxt12.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn12.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn12.disabled = false;
            newbtn12.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt12.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn12.disabled = false;
            newbtn12.style.color="black";
            newtxt12.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn13.addEventListener("click", function () {
        newbtn13.disabled = true;
        newbtn13.style.color="red";
        newtxt13.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn13.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn13.disabled = false;
            newbtn13.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt13.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn13.disabled = false;
            newbtn13.style.color="black";
            newtxt13.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn14.addEventListener("click", function () {
        newbtn14.disabled = true;
        newbtn14.style.color="red";
        newtxt14.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn14.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn14.disabled = false;
            newbtn14.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt14.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn14.disabled = false;
            newbtn14.style.color="black";
            newtxt14.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn15.addEventListener("click", function () {
        newbtn15.disabled = true;
        newbtn15.style.color="red";
        newtxt15.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn15.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn15.disabled = false;
            newbtn15.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt15.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn15.disabled = false;
            newbtn15.style.color="black";
            newtxt15.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



newbtn16.addEventListener("click", function () {
        newbtn16.disabled = true;
        newbtn16.style.color="red";
        newtxt16.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn16.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn16.disabled = false;
            newbtn16.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt16.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn16.disabled = false;
            newbtn16.style.color="black";
            newtxt16.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });









      if (!!window.SpeechSDK) {
        SpeechSDK = window.SpeechSDK;
newbtn9.disabled=false;
newbtn9.style.color="black";


newbtn10.disabled=false;
newbtn10.style.color="black";


newbtn11.disabled=false;
newbtn11.style.color="black";


newbtn12.disabled=false;
newbtn12.style.color="black";


newbtn13.disabled=false;
newbtn13.style.color="black";


newbtn14.disabled=false;
newbtn14.style.color="black";


newbtn15.disabled=false;
newbtn15.style.color="black";


newbtn16.disabled=false;
newbtn16.style.color="black";






        document.getElementById('newc9').style.display = 'block';

document.getElementById('newc10').style.display = 'block';

document.getElementById('newc11').style.display = 'block';

document.getElementById('newc12').style.display = 'block';

document.getElementById('newc13').style.display = 'block';

document.getElementById('newc14').style.display = 'block';

document.getElementById('newc15').style.display = 'block';

document.getElementById('newc16').style.display = 'block';




        document.getElementById('warning').style.display = 'none';
      }

  </script>